.CCanvas{
	top:0;left:0; 
}

canvas {
	border: 0px solid #000;
	position:absolute;
	top:0;left:0; 
	visibility: hidden;
	cursor : none;
}

body {
	background-color : #000000;
}
	
@font-face {
    font-family: folkard;
    src: url(Data/Fonts/folkard_.ttf);
}
